.container {
  padding: 0 16px 16px;
}

.info p,
.info a {
  font-size: 14px;
  display: inline-block;
  color: rgba(0, 0, 0, 0.54);
}

.info a:hover {
  color: #2196f3;
}

img {
  margin-top: 20px;
}

@media (max-width: 700px) {
  body {
    font-size: 18px;
  }
}